<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="seller-details.component.css">
    <title>Document</title>
</head>
<body>
    <div class="seller">
        <h3> Seller Details</h3>
        <div class="roja">
            <div class="data">
                <li>Platform</li>
                <li>Brand</li>
                <li>Brand Rating</li>
                <li>Payment Options</li>
            </div>
            <div class="intro">
                <li>Myntra</li>
                <li>Harrington</li>
                <li><small class="color"><i class="fa-solid fa-star"></i></small><span>4.5/5</span></li>
                <li>UPI,Net Banking,COD </li>
            </div>
        </div>
    </div>
</body>
</html>
