<div class="details">
    <div class="font"><b>Product Details</b></div>
    <div>Material</div>
    <div class="list">
      <div class="aa">
        <li>Upper material</li>
        <li>Outsole material</li>
      </div>
      <div class="bb">
        <li>Synthetic</li>
        <li>Synthetic</li>
      </div>
    </div>
    <hr>
    <div><b>Care</b></div>
    <ul>
      <li>Wipe with a soft cloth to remove dust</li>
      <li>Don't scrub the product while cleaning</li>
    </ul>
    <hr>
    <div><b>Design & Occasion</b></div>
    <div class="list">
      <div class="aa">
        <li>Pattern</li>
        <li>Style</li>
        <li>Sustainable</li>
        <li>Occupation</li>
        <li>Fit</li>
      </div>
      <div class="bb">
        <li>Striped</li>
        <li>Sliders</li>
        <li>Regular</li>
        <li>Casual</li>
        <li>Regular</li>
      </div>
    </div>
    <hr>
    <div><b>Product Measurements</b></div>
    <div class="list">
      <div class="aa">
        <li>Saree Length</li>
        <li>Sleeve Length</li>
      </div>
      <div class="bb">
        <li>5.3Mts</li>
        <li>0.70Mts</li>
      </div>
    </div>
  </div>
  