<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="cont">
  <div class="flex">
    <h2>Recommended Products</h2>
    <div class="text">
      <span>View all</span>
     <span id="data" > <i class="fa-solid fa-angle-right"></i></span>
      
    </div>

  </div>
  <div class="img">
    <div class="date">
      <div class="app"><img src="/assets/22.jpg" alt="">
        <div class="mm">
          <div class="id">
            <span>⭐</span>
            <span>4.2</span>
          </div>
          <div>
            ❤️
          </div>
        </div>
        <hr>
        
        <div class="ka">
          <div class="mess">
            <div>Woodsand</div>
            <div style="color: lightgray; font-size: 10px;">Men's Casual shoe</div>
            <div class="main">
              <span style="color: rgb(238, 19, 56);"><i class="fa-solid fa-indian-rupee-sign"></i> 599 </span>
              <span class="di"><i class="fa-solid fa-indian-rupee-sign"></i>1099</span>
              <span style="color: rgb(236, 14, 51); gap: 10px;">50%</span>
            </div>
          </div>
          <div style="font-size: 10px;  padding-left: 20px;" >Avalible
           <img src="/assets/angular.png" alt="" class="min" style="height: 30px; width: 30px;  padding-left: 10px;">
          </div>
        </div>
    </div>
      <div class="app"><img src="/assets/22.jpg" alt="">
        <div class="mm">
          <div class="id">
            <span>⭐</span>
            <span>4.2</span>
          </div>
          <div>
            ❤️
          </div>
        </div>
        <hr>
        <div class="ka">
          <div class="mess">
            <div>Harrington</div>
            <div style="color: lightgray; font-size: 10px;">Men's Casual shoe</div>
            <div class="main">
              <span style="color: rgb(236, 14, 51);"><i class="fa-solid fa-indian-rupee-sign"></i> 799 </span>
              <span class="di"><i class="fa-solid fa-indian-rupee-sign"></i>1099</span><span></span>
              <span style="color: rgb(231, 16, 52);">30%</span>
            </div>
          </div>
          <div style="font-size: 10px;  padding-left: 10px;" >Avalible
           <img src="/assets/angular.png" alt="" class="min" style="height: 30px; width: 30px; padding-left: 10px;">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="button-container">
    <button class="icon-button" aria-label="Share" (click)="onShareClick()">
      <span class="icon"><i class="fa-solid fa-arrow-up-from-bracket"></i></span>
    </button>
  
    <button class="icon-button" aria-label="Cart" (click)="onCartClick()">
      <span class="icon"><i class="fa-solid fa-cart-shopping"></i></span>
    </button>
  
    <button class="buy-now-button" (click)="onBuyNowClick()">
      Buy Now <span class="icon"><i class="fa-solid fa-bag-shopping"></i></span>
    </button>
  </div>
</div>