<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="header.component.css">   
<title>Document</title>
</head>
<body>
    
    <main class="did">
        <div class="product-details">
            
            <div id="info">
                <div id="item">9:41</div>
                <div id="item">
                    <div class="itemm" >
                        <div style="margin-right: 8px;"><i class="fa fa-signal" > </i></div>
                       <div style="margin-right: 9px;"><i class="fa fa-wifi">  </i></div>
                       <div><i class="fa fa-battery-full"> </i></div>
                    </div>
                </div>
            </div>
            <div id="product-header">
                
                <div><i class="fa fa-chevron-left"></i> Back</div>
                <div><b>Product Details</b></div>
                <div><img src="/assets/angular.png" alt="angular" style="margin-top: -4px; margin-left: 2px; margin-right: 3px;"></div>
            </div>
        </div>
        <div id="sides">
                    <div class="right">
                        <div>
                         <div><img src="/assets/angular.png" alt="" style="border-radius: 50%;"></div>
                         <div>Brand</div>
                        </div>
                        <div>
                            <div><img src="/assets/angular.png" alt="" style="border-radius: 50%;"></div>
                            <div>Rating</div>
                         </div>
                         <div>
                            <div><img src="/assets/delivery_d (1).png" alt="" style="border-radius: 50%; width:30%;">
                            
                            </div>
                            <div>Delivary</div>
                        </div>
                        <div>
                            <div>
                                <img src="/assets/image+186 (1).png" alt="" style="border-radius: 50%; width: 30%; border: 1px solid rgb(245, 231, 231);">

                                <img src="/assets/image+2043.png" alt="" style="border-radius: 50%; width: 30%; border: 1px solid rgb(233, 217, 217); padding-right: 2px; ">
                            </div>
                            <small style="color: red; font-size: small;">+2 more</small>
                           
                            
                            <div>Other</div>
                            <div>Platform</div>
                        </div>
                        <div>
                            <div>
                                <img src="/assets/tabler_discount-2.png" alt="" style="border-radius: 50%; width: 30%; border: 1px solid rgb(226, 217, 217);">

                                <img src="/assets/ic_outline-local-offer.png" alt="" style="border-radius: 50%; width: 30%; border: 1px solid rgb(241, 227, 227);">
                            </div>
                            <small style="color: red; font-size: small;" onclick="">+2 more</small>
                            
                                <p style="margin-top: 5px;">Offers</p>            
                        </div>
                    </div>
                    <div class="left">
                        <div>
                            <img src="/assets/tan.jpg" alt="" style="width: 80%; padding-left: 50px; margin-top: 20px;">
                          
                        </div>
                        
                    </div>
        </div>
        <div class="end">
            <div>
                <h4>Harrington</h4>
                <div class="gap">
                     <p id="space">MRP <span id="strike"><i class="fa-solid fa-indian-rupee-sign" ></i>1099 </span>
                        <span ><i class="fa-solid fa-indian-rupee-sign"></i>949</span> 
                        <span class="text-sucess">(50% OFF) </span></p>
                </div>
                <p><small>inclusive of all taxes</small></p>
                <p class="kt"><small >sold on Ajio </small> <span class="tt"><img src="/assets/angular.png" alt="" style="margin-bottom: -2.5px; width: 15px; height: 15px;" ></span></p>
                <p id="color">Limited Stock Available</p>
            </div>
            <div>
                <span id="like">❤️</span>
            </div>
         </div>
    </main>   
</body>
</html>
