
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="other-details.component.css">
    <title>Document</title>
</head>
<body>
    
    <div class="meet">
        <div class="others">
            <div><h3>Others Details</h3></div>
        <div>Warranty</div>
        <div class="data">
            <div class="infr">
                <li>Duration</li>
                <li>Type</li>
            </div>
            <div class="date">
                <li>6 months</li>
                <li>Manufacturer</li>
            </div>
        </div>
        </div>
    </div>
</body>
</html>